﻿@model DrawerCreationVim.Models.CreateDrawer
<hr />
<h3><b>IR Drawer Creation</b></h3>
@using (Html.BeginForm("Form2", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter VID: </td>
            <td>@Html.TextBoxFor(m => m.Vid)</td> 
            <td>@Html.ValidationMessageFor(m => m.Vid)</td>
        </tr>
        <tr>
            <td>Enter Agency Name: </td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
            <td>@Html.ValidationMessageFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>Enter GTID: </td>
            <td>@Html.TextBoxFor(m => m.Gtid)</td>
            <td>@Html.ValidationMessageFor(m => m.Gtid)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
    <h4 style="        color: Black;
        border: 3px;
        border-style: solid;
        border-color: #FF0000;
        padding: 1em;
">
        <b>Vid:</b>    @ViewBag.Vid <br />
        <b>Name:</b>  @ViewBag.Name <br />
        <b>Gtid:</b> @ViewBag.Gtid <br />
        <b>Status:</b>  @ViewBag.Status
    </h4>
}
